{% extends "index.html" %}
{% load i18n admin_static %}

{% block main-content %}
        
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2>
                2017 第一屆 Spark Codefight Hackathon
            </h2>
        </div>
    </div>
</div>
{% endblock main-content %}

{% block extend-js %}
    <script type="text/javascript">
    $(function(){
        $('.carousel').carousel({
          interval: 2000
        });
    });
</script>
{% endblock extend-js %}



