{% extends "index.html" %}
{% load i18n admin_static %}

{% block body-property %} 
{% endblock body-property %}
{% block extend-style %}
<link href="//vjs.zencdn.net/5.4.6/video-js.min.css" rel="stylesheet">
{% endblock extend-style %}
{% block main-content %}
<div>

    {# <form class="form-sign" id="formSignup" action="{% url "signup" %}?next={{ next }}" method="post"> #}
        {# {% csrf_token %} #}
        {# <h2>Sign up #}
            <div style="background-color: red; color: #fff; padding: 10px;">
                <h2>
                    註冊功能已關閉，謝謝大家。
                </h2>
            </div>
        {# <input class="btn btn-primary pull-right" type="submit" id="btnSignup"> #}
        {# </h2> #}
        {# <hr> #}
        {# {% for field in form %} #}
            {# {% for error in field.errors %} #}
                {# <div class="errorlist">* {{ error }}</div> #}
            {# {% endfor %} #}
            {# {{ field }}<br> #}
        {# {% endfor %} #}
    {# </form> #}
</div>

{% endblock %}

{% block extend-js %}
    <script src="http://vjs.zencdn.net/6.2.7/video.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/BigVideo.js/1.1.5/lib/bigvideo.min.js"></script>


{% endblock extend-js %}
