{% extends "index.html" %}
{% load i18n admin_static %}


{% block main-content %}
<div>
    <form class="form-sign" id="formSignup" action="{% url "signup" %}?next={{ next }}" method="post">
        {% csrf_token %}
        <h2>Sign up
        <input class="btn btn-primary pull-right" type="submit" id="btnSignup">
        </h2>
        <hr>
        {# <input class="form-control" name="username" id="username" type="text" placeholder="Username" pattern="[a-z,A-Z,0-9,_]+" data-valid-min="6" title="Enter your name"><br> #}
        
        {% for field in form %}
            {% for error in field.errors %}
                <div class="errorlist">* {{ error }}</div>
            {% endfor %}
            {{ field }}<br>
        {% endfor %}
    </form>
</div>
{% endblock %}