{% extends "index.html" %}

{% load i18n admin_static %}

{% block extend-style %}
<style>
#ace-editor {
    position: relative;
    width: 100%;
    height: 500px;
    font-size: 16px;
}
</style>
{% endblock extend-style %}

{% block main-content %}



<div class="row">
        <div class="col-md-10 col-md-offset-1">
            {# <div class="callout callout-default"> #}
                {# <h4>Instructions</h4> #}
                {# <p>This question is currently in draft mode.</p> #}
                {# <p>If you feel the problem description is inaccurate or found missing test cases, please  #}
                {# <a href="#">go to Discuss</a> and post a new topic.</p> #}
            {# </div> #}

            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#markdown-preview" data-toggle="tab">Description</a>
                    </li>
                    <li>
                        <a href="#evaluate-console" data-toggle="tab">Console<img src="{% static "img/loading.gif" %}" width="30px;" id="loading_icon" style="display: none;"></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="markdown-preview" style="padding: 20px; background-color: #fefaee;"></div>
                    <div class="tab-pane console" id="evaluate-console">
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 20px 0 5px;">
            
                {{ form.language }}
                
                <select class="selectpicker" id="themepicker" data-width="150px">
                    <option>twilight</option>
                    <option>solarized_light</option>
                    <option>solarized_dark</option>
                </select>

                {% if user.is_authenticated %}
                    <button id="btn_evaluate" class="btn btn-primary pull-right">執行</button>
                {% else %}
                    <a href="{% url "signup" %}?next={{ request.path }}"><button class="btn btn-primary pull-right">執行</button></a>
                {% endif %}
            </div>
            
            <div type="text" name="body" type="text" name="body" id="ace-editor"></div>

        </div>
</div>

{% endblock main-content %}

{% block extend-js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.3.1/markdown-it.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.7/ace.js"></script>
    <script type="text/javascript" src="{% static "channels/js/websocketbridge.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
    <script type="text/javascript">
        var md = window.markdownit();

        const webSocketBridge = new channels.WebSocketBridge();
        webSocketBridge.connect('/evaluate/');

        var quizdata = JSON.parse("{{ quizdata|escapejs }}");
        var snippetdata = JSON.parse("{{ snippetdata|escapejs }}");
        var currdata = JSON.parse("{{ current|escapejs }}");

        var $editor = ace.edit("ace-editor");
        var $evaluate_console = $("#evaluate-console");
        var $markdown_preview = $("#markdown-preview");
        var $themepicker = $("#themepicker");
        var $languagepicker = $("#id_language");
        var $loading_icon = $("#loading_icon");
        var $btn_evaluate = $('#btn_evaluate');

        $markdown_preview.html(md.render(quizdata.description));

        if(currdata.is_running) {
            $loading_icon.show();
            $btn_evaluate.prop('disabled', true);
            $('.nav-tabs a[href="#evaluate-console"]').tab('show');
        }

        $themepicker.on("change", function(evt) {
            $editor.setTheme( "ace/theme/" + $(this).val());
        });
        $themepicker.val(localStorage[quizdata.uid + "-theme"] || "twilight");

        $languagepicker.on("change", function(evt) {
            $editor.session.setMode("ace/mode/" + $(this).val().replace(/\d|\./g, ''));
            $editor.setValue(snippetdata[$(this).val()].body);
        })
        
        $editor.setTheme( "ace/theme/" + $themepicker.val());
        $editor.session.setMode("ace/mode/" + $languagepicker.val().replace(/\d|\./g, ''));
        $editor.$blockScrolling = Infinity;
        $editor.setValue(currdata.body);

        // Locally autosave
        // $editor.getSession().on('change', function(e) {
        //     data = $editor.getValue();
        // });

        webSocketBridge.listen(function(action, stream) {
            var code = action.response_code,
                date = new Date(action.timestamp * 1000);
                message = action.response_message;
            var element = document.createElement('div'),
                node = document.createTextNode(date.toString('[MM/dd h:mm:ss] ') + message),
                color = ['chartreuse ', 'hotpink'];
            element.style.color = color[code];
            element.appendChild(node);
            $evaluate_console.append(element);
            $evaluate_console.scrollTop($evaluate_console[0].scrollHeight);
            if (code == 10) {
                $loading_icon.hide();
                $btn_evaluate.prop('disabled', false);
            }
        });

        $btn_evaluate.on('click', function(){
            $(this).prop('disabled', true);
            $loading_icon.show();
            // Show console tab and wait for result messages.
            $('.nav-tabs a[href="#evaluate-console"]').tab('show');
            webSocketBridge.send({
                'language': $languagepicker.val(),
                'body': $editor.getValue(),
                'contestant': currdata.contestant_id,
                'quiz': currdata.quiz_id
            });
        });


        $(window).unload(function() {
            localStorage[quizdata.uid + "-theme"] = $themepicker.val();
        });

    </script>
{% endblock %}

