{% extends "index.html" %}
{% load i18n admin_static %}
{% load combat_tags %}

{% block extend-style %}
<link href="{% static "css/profile.css" %}" rel="stylesheet" type="text/css">

<style>
.form-control {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 295px;
}
</style>

{% endblock extend-style %}


{% block main-content %}
    {# {{ form.new_password1.help_text }} #}
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-6">
                <div class="well profile" style="width: 365px;">
                    <div class="col-sm-12">
                        <h2 style="border-bottom: 1px solid rgba(0,0,0,0.1); margin-bottom: 10px; color: #8a6d3b;">Change Password</h2>
                        <div style="font-size: 10px; color: #333; margin-left: -15px;">
                            {{ form.new_password1.help_text|safe }}
                        </div>
                        <br>
                        
                        <form action="" method="post">
                            {% csrf_token %}
                            <label>{{ form.old_password.label }}</label>
                            {{ form.old_password.errors}}
                            {{ form.old_password }}

                            <label>{{ form.new_password1.label }}</label>
                            {{ form.new_password1.errors}}
                            {{ form.new_password1 }}

                            <label>{{ form.new_password2.label }}</label>
                            {{ form.new_password2.errors}}
                            {{ form.new_password2 }}

                            <input class="btn btn-primary pull-right" type="submit" value="更新">
                        </form>
                    </div>            

                </div>                 
            </div>
        </div>
    </div>

{% endblock main-content %}


{% block extend-js %}

{% endblock %}
