{% extends "index.html" %}
{% load i18n admin_static %}
{% load combat_tags %}

{% block extend-style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="{% static "css/profile.css" %}" rel="stylesheet" type="text/css">

<style>
.wrap {
    float: left;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 295px;
}
</style>

{% endblock extend-style %}


{% block main-content %}

    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
             <div class="well profile">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-8">
                        {% block profile %}
                        {% endblock profile %}
                        
                    </div>             
                    <div class="col-xs-12 col-sm-4 text-center">
                        <figure>
                            <img src="{% static "images/avatar-generic.png" %}" alt="" class="img-circle img-responsive">
                        </figure>
                    </div>
                </div>            
                <div class="col-xs-12 divider text-center" style="margin-top: 10px;">
                    <div class="col-xs-12 col-sm-4 emphasis">
                        <h2><strong> {{ contestant.sparko }} </strong></h2>
                        <h4>
                            <span class="label label-success">
                                <span class="glyphicon glyphicon-star"></span>
                                Scores
                            </span>
                        </h4>              
                    </div>

                    <div class="col-xs-12 col-sm-4 emphasis">
                        <h1 style="font-size: 100px;"><strong> 3 </strong></h1>
                        <h3>
                            <span class="label label-purple">
                                <i class="fa fa-trophy" aria-hidden="true"></i>
                                Ranking
                            </span>
                        </h3>              
                    </div>

                    <div class="col-xs-12 col-sm-4 emphasis">
                        <h2><strong>{{ contestant.submits }}</strong></h2>                    
                        <h4>
                            <span class="label label-warning">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Submits
                            </span>
                        </h4> 
                    </div>
                </div>
             </div>                 
            </div>
        </div>
    </div>

{% endblock main-content %}


{% block extend-js %}

{% endblock %}
