/* Empty CSS file for your own CSS*/

/*.navbar-inverse {
	background-image: linear-gradient(90deg, #d41a1a, #FFFFFF);
}*/

html, body{
	background-color: #eee8d5;
	height: 100%;
}

a.btn-orange {
	color: #ff8a3c;
	background-color: transparent;
	border-color: #ff8a3c;
}

a.btn-orange:hover {
	background-color: #ff8a3c;
	color: #fff;
}

a {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
	font-size: 14px;
}

.navbar .navbar-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.navbar-right {
	left: auto;
	right: 0;
}

.dropdown-menu {
	border-radius: 6px;
}

.form-control {
	margin: 0;
	width: 206px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.callout {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid transparent;
}

.callout-default {
	border-left-color: #777;
}

.callout-orange {
	border-bottom-color: orange;
}

.form-sign {
    max-width: 280px;
    padding: 19px 29px 29px;
    margin: 50px auto;
    background-color: #eee;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.errorlist {
    color: #FF5722;
    font-size: 10px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #ebe2c4;
}

.table-hover>tbody>tr:hover {
	background-color: #e9d89d;
}

pre, code.hljs {
	background-color: #ffffe5;
}


.btn-default {
	background-color: #fefaee;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: #fefaee;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #eee8d5;
}

.console {
	background-color: #002B36;
	color: #eee;
	height: 250px;
	padding: 10px;
	overflow-y: auto;
}

.console>div:hover {
	background-color: #555;
}
