{% extends "index.html" %}
{% load i18n admin_static %}

{% block main-content %}
        
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2>
                Hello, SparkTW!
            </h2>
            <p>
                This is a demo web page for Spark foobar challenge.
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="#">Learn more</a>
            </p>
        </div>
        <div class="carousel slide" id="carousel-300639">
            <ol class="carousel-indicators">
                <li data-slide-to="0" data-target="#carousel-300639" class="active">
                </li>
                <li data-slide-to="1" data-target="#carousel-300639">
                </li>
                <li data-slide-to="2" data-target="#carousel-300639">
                </li>
            </ol>
            <div class="carousel-inner">
                <div class="item">
                    <img alt="Carousel Bootstrap First" src="http://lorempixel.com/output/sports-q-c-1600-800-1.jpg" />
                    <div class="carousel-caption">
                        <h4>
                            First Thumbnail label
                        </h4>
                        <p>
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img alt="Carousel Bootstrap Second" src="http://lorempixel.com/output/sports-q-c-1600-800-2.jpg" />
                    <div class="carousel-caption">
                        <h4>
                            Second Thumbnail label
                        </h4>
                        <p>
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                    </div>
                </div>
                <div class="item active">
                    <img alt="Carousel Bootstrap Third" src="http://lorempixel.com/output/sports-q-c-1600-800-3.jpg" />
                    <div class="carousel-caption">
                        <h4>
                            Third Thumbnail label
                        </h4>
                        <p>
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                    </div>
                </div>
            </div> 
            <a class="left carousel-control" href="#carousel-300639" data-slide="prev"></a>
            {# <span class="glyphicon glyphicon-chevron-left"></span></a>  #}
            <a class="right carousel-control" href="#carousel-300639" data-slide="next"></a>
            {# <span class="glyphicon glyphicon-chevron-right"></span></a> #}
        </div>
    </div>
</div>
{% endblock main-content %}

{% block extend-js %}
    <script type="text/javascript">
    $(function(){
        $('.carousel').carousel({
          interval: 2000
        });
    });
</script>
{% endblock extend-js %}



